.zendesk-button {
  padding: 13px 22px;
  border-radius: 13986px;
  bottom: 0;
  letter-spacing: 0.6px;
  font-size: 15px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 14px;
}

.zendesk-button .zendesk-icon {
  padding-right: 8px;
  display: flex;
}